.position-fixed{
     background-color: red;
     padding: 10px;
     position: fixed;
     left:0;
     right:0;
}
.position-relative{

    background-color: lightgreen;
     padding: 10px;
     position: relative;
     bottom: 0;
    bottom:0;
    
    right:0;
}
 
.position-absolute{
    background-color: rgb(19, 6, 9);
    padding: 10px;
    position:absolute;
    left:0;
    right:0;

}

.relative-container {
    height: 500px;
    width:500px;
    background-color: aquamarine;
    position:relative;
}

.absolute-container {
    height: 100px;
    width:100px;
    background-color: rgb(52, 26, 102);
    position:absolute;
    bottom: 0;
}
